.SandBox {
    display: flex;
    height: 100vh;
    width: 100%;
}
textarea {
    width:100%;
    height : 150px;
}
.SandBox .grid.f {
    flex: 30% 0 0;
    max-width: 30%;
}

.SandBox .grid {
    flex: 0% 1 0;
    border-right: 1px solid #ccc;
    padding: 15px;
}

.SandBox .grid:last-child {
    border-right: 0;
}